.countrylist__section {
    width: 100%;
}

.countrylist__list {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

.countrylist__list_item {
    list-style: none;
    cursor: pointer;
}