.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colors-ui-base);
    box-shadow: var(--shadow);
    padding: 1rem 2rem;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;

}

.header__container {}

.header__link {
    text-decoration: none;
    color: rgb(17, 21, 23);
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    color: var(--colors-text);
}