.OptionsFilter {
    border: none;
    padding: 0rem 2rem;
}

.OptionsFilters__select {
    width: 200px;
    color: var(--colors-text);
    background-color: var(--colors-bg);
    border-radius: 0.5rem;
}