.search__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search {
    margin-bottom: 0;
    width: 280px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    outline: none;
}

.search__icon {
    margin: 0;
    width: 18px;
    height: 18px;
    position: absolute;
    margin-left: 34px;
}

.search__input {
    margin: 0;
    width: 480px;
    padding: 18px 0px 18px 74px;
    border: none;
    background-color: var(--colors-ui-base);
    border-radius: 0.5rem;
}